data/zeo_osda_sim-syn_cos_sim.csv
data/zeo_osda_sim-syn_mmd_dissim.csv
data/zeo_osda_sim-syn_cos_sim-zeo_egnn.csv
runs/diff/**/model.pt
runs/diff/**/*.pt
runs/nf/**/best_model.pt
runs/amd/**/best_model.pt
runs/gan/**/*.pt
runs/nn/**/best_model.pt
runs/gmm/**/model.pkl
runs/cvae-eq/**/best_model.pt
runs/cvae-gnn/**/best_model.pt
runs/bnn/**/best_model.pt
*.out
__pycache__
**/__pycache__
predictions/CHA_**
predictions/LTA_C1COCCN2CCOCCOCCN(CCO1)CCOCCOCC2
predictions/RHO_C1COCCN2CCOCCOCCN(CCO1)CCOCCOCC2
predictions/UFI_C1COCCN2CCOCCOCCN(CCO1)CCOCCOCC2_manuscript
predictions/UFI_C1COCCN2CCOCCOCCN(CCO1)CCOCCOCC2/syn_pred.csv
src/
runs/diff/system/run1/
data/__pycache__
predictions/UFI_C1COCCN2CCOCCOCCN(CCO1)CCOCCOCC2/syn_pred.csv